.container-abilities {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 40px;
  align-items: center;
}

.title-content-abilities {
  color: #6720ff;
  font-size: 40px;
}

.title-abilities-cards {
  font-size: 16px;
  font-family: Sebino;
  margin-top: 10px;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 80px;
  border-radius: 10px;
  margin: 20px 20px;
  box-shadow: 0 5px 15px 0px rgba(103, 32, 255, 0.4);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 10px 20px 0px rgba(103, 32, 255, 0.6);
}

.card.dark {
  background-color: rgb(220, 220, 220);
  color: black;
  box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.4);
}

.card.dark:hover {
  box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.6);
}
